.DS_Store
._.DS_Store
*.inc
jet_trees_raw

# Python
env/
__pycache__/
.ipynb_checkpoints

# Output
data/jet_trees_raw/*.root
data/Makefile.inc
src/pre-processed-data/*.root

# Data symlinks
plotting-macros
data/jet_trees_raw/*